.h{
    text-align: center;
    background-color: rgb(30, 30, 50);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    
    
}
.container{
    padding: 20px;
    background-color:rgb(154, 154, 239);
    display: flex;
    flex-direction: column;
}
