.login-btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.register-btn{
    background-color:green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
